.cards {
    grid-template-columns: repeat(auto-fill, 225px);
    gap: 1.2rem;
    margin-top: 1.5rem;
}

.cards .card {
    background-color: #f8f9faa2;
    border-radius: 9px;
    /* box-shadow: 0 2px 6px 0px rgb(0 0 0 / 15%); */
}

.btn a {
    /* box-sizing: border-box; */
    color: black;
    text-decoration: none;
}

/* .btn a:hover {
    background-color: #4FA6DC;
} */