.toy-sort {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 1.1em;


    h3 {
        margin-right: 7px;
    }

    button {
        @include btn($type: regular);
        border-radius: 5px;
    }

}