.toy-sort {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 1.1em;


    h3 {
        margin-right: 7px;
    }

    button {
        @include btn($type: regular);
        border-radius: 5px;
    }

    // .toy-sort .btn:hover {
    //     background-color: rgba(108, 191, 232, 0.921);
    //     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    // }
}